# jupyter
.ipynb_checkpoints
*.ipynb

# environments
.env
.venv/
venv/

# caches
.mypy_cache/
.pytest_cache/
__pycache__/
.DS_Store

# data
sample_data/
data/
.metals/
*.csv

# slurm files
*.sh
*.out

# other
.vscode/
~*
*~
*\#
\#*

